VITE_SUPABASE_URL=<SUBSTITUTE_SUPABASE_URL>
VITE_SUPABASE_PUBLISHABLE_KEY=<SUBSTITUTE_SUPABASE_PUBLISHABLE_KEY>
VITE_SUPABASE_ANON_KEY=<SUBSTITUTE_SUPABASE_ANON_KEY>

// ThunderAI
VITE_THUNDERAI_URL=<SUBSTITUTE_THUNDERAI_URL>

// Tests
ENV_URL=http://localhost:5173
TEST_USER_EMAIL=<SUBSTITUTE_TEST_USER_EMAIL>
TEST_USER_PASSWORD=<SUBSTITUTE_TEST_USER_PASSWORD>
CI=<TRUE_OR_FALSE>